<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue核心：指令+选项参数+钩子函数(生命周期)</title>
    <script src="vue.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div id="app1">
        <p>Vue的选项参数</p>
        {{num}}
        {{lqq}}
        <p>{{arr[0]}}</p>
        {{num|ff}}
    </div>
    <script> 
        //全局过滤器
        Vue.filter('过滤器名称',function(value1,value2){
            return 0;
        });

        //全局自定义指令
        Vue.directive('指令名称',{
            autoFocus:{ 
         // 钩子函数，被绑定元素插入父节点时调用 (父节点存在即可调用，不必存在于 document 中)。
           inserted(el){
                el.focus() 
                console.log( 'inserted' );
             },
             
            // 只调用一次，指令第一次绑定到元素时调用，用这个钩子函数可以定义一个在绑定时执行一次的初始化动作。
              bind(){ 
                  console.log( 'bind' ); 
            }, 
            // 所在组件的 VNode 更新时调用，但是可能发生在其孩子的 VNode 更新之前。 
            // 指令的值可能发生了改变也可能没有。但是你可以通过比较更新前后的值来忽略不必要的模板更新 
            update(){ 
                console.log( 'update' ); 
            }, 
            // 所在组件的 VNode 及其孩子的 VNode 全部更新时调用。
             componentUpdated(){
                 console.log( 'componentUpdated' );
                 }, // 只调用一次，指令与元素解绑时调用。
                 
                unbind(){
                     console.log( 'unbind' ); 
                    }
        })

        //全局组件
        Vue.component('组件名',{
            template:'<div>我是全局组件的模板</div>',
            methods:{//在VueJs中，所有的从后台获取到的数据是方法data属性中，所有的函数方法是放在methods属性中，

            },
            data(){// data属性是Vue实例的数据对象，可以绑定的是对象或者是函数。Vue实例是通过new Vue()创建的，{{ }}是Vue进行插值的语法，app是Vue的实例化对象，这里需要注意的是el绑定的是视图容器，即DOM对象，data属性绑定的是模型数据。
                return{

                }
            },
            filters:{//过滤器是一个通过输入数据，能够及时对数据进行处理并返回一个数据结果的简单函数

            },
            watch:{//监测属性的选项参数

            },
            directives:{//创建自定义指令

            },
         
        })

        var vm1 = new Vue({
            template:`<div>模板<div>`;

            el:'#app1',  //选项参数：挂载点  作用：

            data:{      //选择参数：数据代码 作用：
                msg:'',
                arr:[1],
                obj:[],
                num:0
            },

            methods:{   //选项参数：存放函数 作用：

            },

            computed:{  //选项参数：计算属性 作用  计算属性将被混入到 Vue 实例中。所有 getter 和 setter 的 this 上下文自动地绑定为 Vue 实例。没有全局只有局部
                '计算属性名':function(){
                    return tihs.msg='我是李倩倩';
                },
                'lqq':function(){
                    return this.msg='我是李倩倩';
                }
            },

            watch:{     //选项参数：代理数据监测 作用：
                num:{
                    handler:function(newValue,oldValue){
                        this.arr[0]++;
                    }
                },
                obj:{
                    handler:function(newValue,oldValue){

                    },
                    deep:true    //深度监测
                }
            },

            filters:{   //选项参数: 局部过滤器  作用:
                '过滤器名称':function(value){        //使用过滤器 {{data|过滤器的名称}}
                    return 0;
                },
                'ff':function(){
                    return 0;
                }
            },

            directives:{  //选项参数： 局部自定义指令 作用：
                '自定义指令名称':{
                    //自定义指令的钩子函数
                    bind:function(el,obj){

                    },
                    inserted(el,obj){

                    },
                    updated:function(el,obj){
                        
                    },
                }
            },

            components:{  //选项参数: 局部组件
                '组件名':{
                    template:'<div>我是局部组件里的模板</div>',
                    data(){
                        return{

                        }
                    },
                    methods:{

                    },
                    filters:{

                    },
                    computed:{

                    },
                    directives:{

                    },
                    watch:{

                    }
                }
            },

            

            //钩子函数（生命周期）
            beforeCreate('创建前'){}//当实列被创建之前的函数 没有EL 没有DATa没有TEmplate

            created（创建后）//当实例被创建完成之后的函数 没有EL 可以对data数据做一些提前的准备如进行计算，转换等

            beforeMount(载入前)//即将挂载编译后的html到对应位置时触发的函数有DOM

            mounted（载入后）//这里就是已经将编译好的html挂载到页面完成后执行的钩子函数，形成真是的DOM。那么这里就可以发送Http请求页面初始化需要的数据

            beforeUpdate（更新前）//这里会实时监听data数据的变化，如果有更新，那么会先重新渲染虚拟DOM然后再给真实DOM补丁

            updated（更新后）//

            beforeDestroy（销毁前）,

            destroyed（销毁后）
    </script>

    <br>

    <div id="app2">
        <div>
            <p>数据双像绑定</p>
            <p>v-model=""</p>
            <p>这个指令只用于表单类标签</p>
        </div>

        <div>
            <p>事件指令</p>
            <p>v-on:事件名称="fn"   简写  @事件名称="fn"</p>
            <p>v-on:事件名称="fn(obj)"   简写  @事件名称="fn(obj)"</p>
        </div>

        <div>
            <p>事件修饰符</p>
            <p>只有 v-on 和 v-model 才有事件修饰符</p>
            <p>ASCII码</p>
        </div>

        <div>
            <p>v-if he v-else</p>
            <p>v-show</p>
        </div>

        <div>
            <p>v-for="(item,index) in/of arr"</p>

            <p>v-for="(value,key) in/of obj"</p>

            <p>v-for="str/num in/of string/number"</p>
        </div>

        <div>
            <p>v-bind:标签属性名="标签属性值"   简写      :标签属性名="标签属性值" </p>
            <p>两个特殊的标签属性 class  和 style</p>
        </div>

        <div>
            <p>Vue的动画</p>
            
        </div>
    </div>
    <script>
        var vm2 = new VUe({
            el:'#app2',
            data(){

            },
            methods:{

            }
        });
    </script>

   // data三种写法：
   // 1.
  // data () {
  //   return {count: 0}
  // },
 
  // 2.
  // data: {
  //   count: 0
  // },
 
  // 3.
  //data: function() {
   // return {
     // count: 0
   // }
  //},




</body>
</html>